{% extends "airports/base.html" %}

{% block title %}
    Airport {{ airport.airport_id }}
{% endblock %}
{% block body %}

    <h1>Airport {{ airport.airport_id }}</h1>
    <ul>
        <li>Airport: {{ airport.airport_id }}</li>
        <li>Ident: {{ airport.ident }}</li>
        <li>Type: {{ airport.the_type }}</li>
        <li>Name: {{ airport.name }}</li>
        <li>Lat: {{ airport.latitude }}</li>
        <li>Long: {{ airport.longitude }}</li>
        <li>Elevation: {{ airport.elevation_ft }}</li>
        <li>Continent: {{ airport.continent }}</li>
        <li>Country: {{ airport.country }}</li>
        <li>Region Iso: {{ airport.iso_region }}</li>
        <li>City: {{ airport.city }}</li>
        <li>Service: {{ airport.scheduled_service }}</li>
        <li>ICAO: {{ airport.icao }}</li>
        <li>IATA: {{ airport.iata }}</li>
        <li>Local Code: {{ airport.local_code }}</li>
        <li>Link: {{ airport.home_link }}</li>
        <li>Wikipedia: {{ airport.wikipedia_link }}</li>
        <li>Keywords: {{ airport.keywords }}</li>


    </ul><br>

    <a href="{% url 'index' %}">Back to full listing</a>



{% endblock %}