{% extends "airports/base.html" %}

{% block title %}
    Airports
{% endblock %}

{% block body %}

    <h1>Airports</h1>
    <uL>
    {% if airports %}
        {% for airport in airports %}
            <li>
                <a href="{% url 'airport' airport.iata %}">{{ airport }}</a>
            </li>
        {% endfor %}

    </ul>

    {% else %}
        {{order}}
        <form action="{% url 'import'  %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file1"> Upload a file and upload</label>
            <small>Only accepts CSV files</small><br>

            <input type="file" id="file1" name="file">
            <button type="submit">Upload</button>
        </form>
    {% endif %}
    <ul>
        <li>Currently logged in as: {{ user.username }}</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>

{% endblock %}
    
